<ion-header>
  <ion-toolbar>
    <ion-title text-capitalize translate>register</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <form [formGroup]="formlyObj.form" (ngSubmit)="register(formlyObj.model)" *ngIf="formlyObj.fields">
      <formly-form [form]="formlyObj.form" [fields]="formlyObj.fields" [model]="formlyObj.model"></formly-form>
      <div class="buttons">
        <ion-button type="submit" color="primary" size="large" margin-top text-capitalize translate>register</ion-button>
      </div>   
    </form>
  </div>
</ion-content>
