 @import "../../../theme/variables.scss";


.content, .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

form, ion-button {
  width: 100%;
//   @media (min-width: $ion-breakpoint-sm) {
//     ion-button{
//       width: 50%;
//     }
//     width: 75%;
//   }
//   @media (min-width: $ion-breakpoint-xl) {
//     width: 50%;
//   }
}

ion-input {
  border-bottom: 1px solid var(--ion-color-medium);
}
