<section text-center margin-vertical>
    <img src="assets/img/logo.jpg" />
    <ion-title>PARKING APP</ion-title>
</section>

<ion-content>

  <div class="content">
    <form [formGroup]="form" (ngSubmit)="login(model)" *ngIf="fields">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <ion-item lines="none" >
        <ion-label text-capitalize translate>remember</ion-label>
        <ion-checkbox (ionChange)="remember = !remember" checked="true" name="remember"></ion-checkbox>
      </ion-item>
      <div class="buttons">
        <ion-button type="submit" color="primary" size="large" margin-top translate>Login</ion-button>
        <ion-button routerLink="/register" color="secondary" size="large" margin-top translate>Register</ion-button>
      </div>   
    </form>
    
  </div>
</ion-content>
