<section text-center margin-vertical>
    <img src="assets/img/logo.jpg" />
    <ion-title>PARKING APP</ion-title>
</section>

<ion-content>

  <div class="content">
    <form [formGroup]="form" (ngSubmit)="login(model)" *ngIf="fields">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      
          <ion-item slot="start"><ion-label text-capitalize translate>remember</ion-label>
        <ion-checkbox (ionChange)="remember = !remember" checked="true" name="remember"></ion-checkbox></ion-item>
     
      <ion-select (ionChange)="changeLanguague($event)" value="es" placeholder="Select One">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
      </ion-select>
      
      <div class="buttons">
        <ion-button type="submit" color="primary" size="large" margin-top text-capitalize translate>login</ion-button>
        <ion-button routerLink="/register" color="secondary" size="large" margin-top text-capitalize translate>register</ion-button>
      </div>   
    </form>
    
  </div>
</ion-content>
