<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate text-capitalize>
      home
    </ion-title>
    <ion-buttons slot="end">
      <ion-chip (click)="goToProfile()"  *ngIf="!loading">
        <ion-avatar >
          <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+" />
        </ion-avatar>
        <ion-label>{{profile.username || 'username'}}</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{profile.licensePlate}}</ion-card-subtitle>
      <ion-card-title>{{profile.model || "modelo"}}</ion-card-title>
    </ion-card-header>

    <ion-card-content  *ngIf="actualLocation">
      <ion-label translate>ParkedAt</ion-label> {{parkedAt || 0}}
    </ion-card-content>
    <ion-card-content  *ngIf="!actualLocation" translate text-capitalize>
        <ion-label translate>ParkedAt</ion-label> 
    </ion-card-content>
  </ion-card>
  <app-google-map (coordsSave)="refreshLocation($event)"></app-google-map>
</ion-content>
