<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>
      ParkingHistory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="map" *ngIf="displayMap" id="map_canvas"></div>
    <ion-button id="mapButton" *ngIf="displayMap" (click)="displayMap = false" color="primary" size="large" margin-top translate>back</ion-button>
  <ion-list *ngIf="!displayMap">
    <ion-item *ngFor="let item of locations; let i = index">
        <ion-label translate text-capitalize>date <ion-label>{{getDate(item.timestamp)}}</ion-label></ion-label>
      <div class="item-note" slot="end">
        <ion-label translate text-capitalize>duration</ion-label> {{getTimeElapsed(item.timestamp)}}
      </div>
      <ion-icon (click)="loadMap(i)" name="eye" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
